.App {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.testName {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  margin: 1rem;
  width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin: 1rem;
  border-radius: 5px;
  background-color: lightblue;
}